body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navigation {
  background-color: #fff;
  padding: 15px;
  text-align: center;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  display: inline;
  margin-right: 15px;
}

.section {
  padding: 50px;
  margin-bottom: 20px;
}

#index {
  background-color: #f2f2f2;
}

#Login.html {
  background-color: #eaeaea;
}

#SignUp.html {
  background-color: #dcdcdc;
}

#ContactMe.html {
  background-color: #cccccc;
}
