
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.navigation {
  background-color: #333; 
  padding: 15px 0; 
  text-align: center;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation ul li { /* navigation list css */
  display: inline-block; 
  margin-right: 15px;
}

.navigation ul li:last-child {
  margin-right: 0; /* here, the margin of the most right item is removed */
}

.navigation ul li a {
  text-decoration: none;
  color: #fff; /* makes the link words white */
  padding: 10px 15px; /* padding to links */
  border-radius: 5px; /* Rounded corners (not working at the moment...only works on hover) */

}

.navigation ul li a:hover {
  background-color: #555; /* lighter background on hover */
}

/* Section styles */
.section {
  padding: 50px;
  margin-bottom: 20px;
}


