.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
}

.tile {
  width: 20%;
  padding-top: 20%; 
  background-color: #ccc;
  border: 1px solid #333;
  position: relative;
  
  text-align:center;
  

  
}

.tile:nth-child(even) { /* even parameter means every even column is this color */
  background-color: #eee;
}

.empty {
  background-color: transparent;
}
