@font-face {
    font-family: Bungee;
    src: url('./fonts/Bungee_basic/Bungee-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Bungee_Outline;
    src: url('./fonts/Bungee_Basic/BungeeOutline-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    font-family: 'Bungee', sans-serif;
}

body{
    background-color: #f5f5f5;;
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-grow: initial;
    justify-content: center;
    align-items: center;
}

.sidebar {
    /* padding: 1em; */
    flex-grow: 1;
    height: 100%;
    background-color: #fff;
    display: flex;
    width: 20%;
    border: 1px solid #000;
    flex-direction: column;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 0 0 0 2px #000;
    height: calc(100vh - 8px);
    margin-top: 4px;
  
}


.sidebar .sidebar-header h4 {
    font-family: 'Bungee_Outline', sans-serif;
    font-weight: 600;
    
    text-shadow:
        -1px -1px 0 #ffffff, 
        1px -1px 0 #ffffff,  
        -1px 1px 0 #ffffff,  
        1px 1px 0 #ffffff;   
}
.sidebar .sidebar-header h4{
    font-family: 'Bungee_Outline', sans-serif;
    font-weight: 600;
}

.sidebar ul{
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.sidebar ul li{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}

.sidebar ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
}

.sidebar ul li a:hover{
    color: #101010;
    font-size: 1.3em;
}

.main-content{
    width: 100%;
    flex-grow: 4;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.hidden{
    display: none;
}


.game-screen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    
    border: 0.5px solid #fff; 
}

.col{
    width: 100%;
    height: 100%;
    background-color: #101010;
    padding: 3px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: white;
    border: 0.5px solid #fff;
}

.tile{
    cursor: pointer;
}

.tile:hover{
    background-color: #ffffff;
    color: #101010;
    transition: all 0.5s ease-in-out;
}

.correct{
    background-color: #00ff00;
    color: #101010;
    transition: all 0.5s ease-in-out;
}
.empty{
    background-color: grey;
    color:black;
    transition:all 0.5s ease-in-out;
}